<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace，可以随便写？ -->
<mapper namespace="book">
    <select id="query" parameterType="HashMap" resultType="Book">
        select * from book
    </select>
</mapper>