<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <!-- 定义别名，在mapper里写参数类型就可以使用别名 -->
        <typeAlias type="com.hzl.web.bean.Account" alias="Account"/>
        <typeAlias type="com.hzl.web.bean.Book" alias="Book"/>
    </typeAliases>
    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>